## vaex dependencies
vaex == 4.16.0
vaex-core == 4.16.1
        blake3==0.3.3
        pydantic==1.10.4
        #pydantic_core==2.6.3
        annotated-types==0.5.0
        typing-extensions==4.7.1
        rich==13.5.2
        Pygments==2.16.1
        markdown_it_py==3.0.0
        mdurl==0.1.2
        aplus==0.11.0
        progressbar2==4.2.0
        python-utils==3.7.0
    frozendict==2.3.8
vaex-viz == 0.5.4
vaex-hdf5 == 0.14.1
vaex-server == 0.8.1
vaex-astro == 0.9.3
vaex-jupyter == 0.8.2
vaex-ml == 0.18.3

Flask
numpy
Flask-Cors
pandas
scikit-learn
matplotlib