.menuBox {
    padding: 5px;
    background-color: #eeeeee;
    border: 1px solid #222831;    
}

.menuBoxWhite {
    padding: 5px;
    background-color:  #eeeeee;
    border: 1px solid #222831;     
}

.matrixButton{
    background-color: #c1a57b;
    border: #c1a57b; 
    color: white;
    padding: 2px;
}
.matrixBlackButton{
    background-color: #222831; 
    border:  #222831;  
    color: white;
    padding: 2px;
}
.matrixHeading{
    color: #142850;
}
.chart {
	overflow: hidden;
    width: 100%;
    height: 25px;
    border: 1px solid black;
    display: table;
}
.bar-container {
    margin-right: 10px;
    width: 50px;
    height: 25px;
    display: table-row;
    padding: 5px 5px 5px 5px;
}
.bar {
    display: table-cell;
    background-color: red;
    height: 25px;
}
.vertical-rotate{
    vertical-align:top;
    width: 500px;
    transform:rotate(7deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
}




/*
    https://www.bestcssbuttongenerator.com/
*/
.matrixButton {
	background-color:#7892c2;
	border-radius:6px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding: 1px 6px;
	text-decoration:none;
	text-shadow:0px 0px 0px #283966;
}
.matrixButton:hover {
	background-color:#476e9e;
}
.matrixButton:active {
	position:relative;
	top:1px;
}

.matrixHeader {
    font-size: 14px;
  }


  .menuBox {
    padding: 5px;
    background-color: #eeeeee;
    border: 1px solid #222831;    
}

.menuBoxWhite {
    padding: 5px;
    background-color:  #eeeeee;
    border: 1px solid #222831;     
}

.matrixButton{
    background-color: #c17b7b;
    border: #c1a57b; 
    color: white;
    padding: 2px;
}

.matrixBlackButton{
    background-color: #222831; 
    border:  #222831;  
    color: white;
    padding: 2px;
}
.matrixHeading{
    color: #142850;
}

/*
https://www.bestcssbuttongenerator.com/
*/ 


.redButton {
	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
	border:1px solid #241d13;
    border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:4px 15px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}
.redButton:hover {
	background-color:#b34332;
}
.redButton:active {
	position:relative;
	top:1px;
}


.blueButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:2px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.blueButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}

.blueButton:active {
	position:relative;
	top:1px;
}


.greenButton {
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:3px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:2px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.greenButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.greenButton:active {
	position:relative;
	top:1px;
}




.codeText {
    font-family: "Fira Mono", monospace;
    font-size: 14px;
}

.codeTextHeader {
    font-family: "Fira Mono", monospace; 
  	font-weight: bold; 
	font-size: 20px;
}

.blueText {    
    color: steelblue;
    font-family: "Fira Mono", monospace;
    font-style: "Fira Mono", normal;
    font-size: 10px;
}

.blueTable {    
    border-color: steelblue;
    border-width: 1px;
	border-style: solid;
}

.parameterText {    
    color: black;
    font-family: "Fira Mono", monospace;
    font-style: "Fira Mono", normal;
    font-size: 10px;
}

.redText {    
    color: red;
	font-family: "Fira Mono", monospace;
    font-style: "Fira Mono", normal;
    font-size: 10px;
}


.noMargin {
    margin:0;
    padding:0;
}


/*
	https://blog.logrocket.com/react-slider-tutorial/
*/

.horizontal-slider {
	width: 100%;
	max-width: 500px;
	height: 100vh;
	margin: auto;
  }

.example-thumb {
	cursor: pointer;
	position: absolute;
	z-index: 100;
	background: #ffffff;
	border: 5px solid #3774ff;
	border-radius: 100%;
	display: block;
	box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
  }

.example-thumb.active {
	background-color: grey;
}

.example-track {
	position: relative;
	background: #ddd;
}

.example-track.example-track-0 {
	background: #83a9ff;
}

.horizontal-slider .example-track {
	top: 20px;
	height: 4px;
}

.horizontal-slider .example-thumb {
	top: 12px;
	width: 10px;
	outline: none;
	height: 10px;
	line-height: 38px;
}


.parameterTable td {
	border: 1px solid darkslategrey;
}


.parameterTable tr {
	border: 1px solid darkslategrey;
}