.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.layout-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.layout-td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
    width: 100%;
}

.fixed-td {
    border-collapse: collapse;
    border: 1px solid lightgrey;
    overflow: visible;
}

.grid-container {
    position: relative;
}